@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;500;600&display=swap");
@font-face {
  font-family: kanit-light;
  src: url(../Kanit/Kanit-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: kanit-extra-light;
  src: url(../Kanit/Kanit-ExtraLight.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(../Kanit/Kanit-Thin.ttf);
  font-family: kanit-thin;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(../Kanit/Kanit-Regular.ttf);
  font-family: kanit-regular;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(../Kanit/Kanit-Medium.ttf);
  font-family: kanit-medium;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(../Kanit/Kanit-SemiBold.ttf);
  font-family: kanit-SemiBold;
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100%;
  max-width: 100%;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.container .introBox {
  margin: 0 auto;
  margin-top: 150px;
}

.container .introBox p {
  font-size: 42px;
  font-family: kanit-extra-light;
  color: white;
  text-align: center;
  letter-spacing: 10px;
  margin: 0;
  margin-bottom: 30px;
}

.container .introBox img {
  width: 80vw;
  max-width: 830px;
  margin-bottom: 30px;
}

.container .introBox span {
  display: block;
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: kanit-regular;
  margin-bottom: 30px;
}

.container .introBox div {
  padding: 10px 35px;
  border-radius: 10px;
  color: #00FFC2;
  background-color: #8924FC;
  font-family: kanit-regular;
  font-size: 28px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  line-height: 1;
  margin-bottom: 50px;
}

.container .svgLine {
  margin: 0 auto;
  width: 60%;
  -webkit-transform: translateX(-9px);
          transform: translateX(-9px);
  overflow: visible;
}

.container .svgLine .decoration {
  -webkit-transform: translate(-180px, 2300px);
          transform: translate(-180px, 2300px);
}

.container .svgLine .decoration2 {
  -webkit-transform: translate(-180px, 2326.5px);
          transform: translate(-180px, 2326.5px);
}

.container .svgLine .pathBall {
  z-index: 2;
  position: relative;
}

.container .svgLine .pathLine {
  position: relative;
  z-index: 1;
}

.container .svgLine .object {
  width: 100%;
  height: 100%;
  margin-top: 800px;
  position: relative;
}

.container .svgLine .worldShadow {
  -webkit-transform: translate(48px, 245px);
          transform: translate(48px, 245px);
}

.container .svgLine .worldMaskInner {
  -webkit-transform: translate(48px, 245px);
          transform: translate(48px, 245px);
  width: 518px;
  height: 504px;
}

.container .svgLine .travellerShadow {
  -webkit-transform: translate(655px, 858px);
          transform: translate(655px, 858px);
}

.container .svgLine .flagShadow {
  -webkit-transform: translate(0px, 1603px);
          transform: translate(0px, 1603px);
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.container .contentBox {
  position: absolute;
}

.container .contentBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .contentBox1 .textWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 250px;
  padding-top: 50px;
}

.container .contentBox1 .textWrap .textWrapInner {
  position: relative;
}

.container .contentBox1 .textWrap .textWrapInner h5 {
  font-family: kanit-semiBold;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
  text-align: left;
}

.container .contentBox1 .textWrap .textWrapInner h3 {
  font-family: kanit-semiBold;
  font-size: 105px;
  color: #00FFC2;
  margin-bottom: 10px;
  line-height: 1;
  text-align: left;
}

.container .contentBox1 .textWrap .textWrapInner h3 span {
  font-size: 28px;
  font-family: kanit-regular;
  position: relative;
  right: 15px;
  text-align: left;
}

.container .contentBox1 .textWrap .textWrapInner p {
  font-family: kanit-regular;
  font-size: 28px;
  color: white;
  font-weight: 100;
}

.container .contentBox1 .textWrap .textWrapInner:after {
  content: "";
  background-image: url(../images/Export/Mice-bg_element01.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  top: -40%;
  left: 50%;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

.container .contentBox1:before {
  content: "";
  width: 50%;
}

.container .contentBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .contentBox2 .textWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 200px;
  padding-right: 170px;
}

.container .contentBox2 .textWrap .textWrapInner {
  position: relative;
}

.container .contentBox2 .textWrap .textWrapInner h5 {
  font-family: kanit-semiBold;
  font-size: 32px;
  color: white;
  margin-bottom: 0px;
  text-align: left;
}

.container .contentBox2 .textWrap .textWrapInner h4 {
  font-family: kanit-regular;
  font-size: 28px;
  color: white;
  font-weight: 100;
  margin-bottom: 0px;
}

.container .contentBox2 .textWrap .textWrapInner h3 {
  font-family: kanit-semiBold;
  font-size: 105px;
  color: #00FFC2;
  margin-bottom: 10px;
  line-height: 1;
  text-align: left;
  position: relative;
}

.container .contentBox2 .textWrap .textWrapInner h3 span {
  font-size: 28px;
  font-family: kanit-regular;
  position: relative;
  right: 15px;
  text-align: left;
}

.container .contentBox2 .textWrap .textWrapInner h3::after {
  content: "คน";
  font-size: 28px;
  font-family: kanit-regular;
  position: absolute;
  bottom: -30px;
  right: 5px;
}

.container .contentBox2 .textWrap .textWrapInner:after {
  content: "";
  background-image: url(../images/Export/Mice-bg_element02.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  top: -50%;
  left: 100%;
  -webkit-transform: translateX(-37%);
          transform: translateX(-37%);
}

.container .contentBox2 .textWrap .textWrapInner:before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../images/Export/Mice-bg_element03.svg);
  width: 100%;
  height: 200%;
  position: absolute;
  right: -200px;
  top: 25px;
  z-index: -1;
}

.container .contentBox2:after {
  content: "";
  width: 50%;
}

.container .contentBox3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .contentBox3 .textWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 250px;
  padding-top: 450px;
}

.container .contentBox3 .textWrap .textWrapInner {
  position: relative;
}

.container .contentBox3 .textWrap .textWrapInner h5 {
  font-family: kanit-semiBold;
  font-size: 35px;
  color: white;
}

.container .contentBox3 .textWrap .textWrapInner h3 {
  font-family: kanit-semiBold;
  font-size: 105px;
  color: #00FFC2;
  margin: 0;
  line-height: 1;
  text-align: left;
}

.container .contentBox3 .textWrap .textWrapInner h4 {
  font-family: kanit-semiBold;
  font-size: 70px;
  color: #00FFC2;
  font-weight: 100;
  line-height: 1;
}

.container .contentBox3 .textWrap .textWrapInner h4 span {
  font-family: kanit-regular;
  font-size: 28px;
}

.container .contentBox3 .textWrap .textWrapInner:after {
  content: "";
  background-image: url(../images/Export/Mice-bg_element05.svg);
  position: absolute;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  right: 0;
  top: 115%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.container .contentBox3 .textWrap .textWrapInner:before {
  content: "";
  background-image: url(../images/Export/Mice-bg_element04.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  right: 200%;
}

.container .contentBox3:before {
  content: "";
  width: 50%;
}

.section2 {
  height: 100vh;
  width: 100%;
}

.test1 {
  width: 50px;
  height: 80px;
  background-color: red;
}

.test2 {
  width: 50px;
  height: 50px;
  background-color: blue;
}
/*# sourceMappingURL=style.css.map */