@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;500;600&display=swap');
@font-face{
    font-family: kanit-light;
    src: url(../Kanit/Kanit-Light.ttf);
    font-weight: normal;
    font-style: normal;
    
}
@font-face{
    font-family: kanit-extra-light;
    src: url(../Kanit/Kanit-ExtraLight.ttf);
    font-weight: normal;
    font-style: normal;
    
}
@font-face{
    src: url(../Kanit/Kanit-Thin.ttf);
    font-family: kanit-thin;
    font-weight: normal;
    font-style: normal;
}
@font-face{
    src: url(../Kanit/Kanit-Regular.ttf);
    font-family: kanit-regular;
    font-weight: normal;
    font-style: normal;
}
@font-face{
    src: url(../Kanit/Kanit-Medium.ttf);
    font-family: kanit-medium;
    font-weight: normal;
    font-style: normal;
}
@font-face{
    src: url(../Kanit/Kanit-SemiBold.ttf);
    font-family: kanit-SemiBold;
    font-weight: normal;
    font-style: normal;
}

$purple : #8924FC;
$teal : #00FFC2; 
*{
    margin: 0;
}

body{
    margin: 0;
    
    width: 100%;
}


.container{
    width: 100vw;
    max-width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    position: relative;
    
   
  
    .introBox{
        position: relative;
        z-index: 3;
        margin: 0 auto;
        margin-top: 150px;
        p{
            font-size: 42px;
            font-family: kanit-extra-light;
            color: white;
            text-align: center;
            letter-spacing: 10px;
            margin: 0;
            margin-bottom: 30px;

        }
        img{
            width: 80vw ;
            max-width: 830px;
            margin-bottom: 30px;
        }
        span{
            display: block;
            color: white;
            text-align: center;
            font-size: 24px;
            font-family: kanit-regular;
            margin-bottom: 30px;
        }
        div{
            padding:10px 35px;
            border-radius: 10px;
            color: $teal;
            background-color: $purple;
            font-family: kanit-regular;
            font-size: 28px;
            width: max-content;
            margin: 0 auto;
            line-height: 1;
            margin-bottom: 50px;
            
        }
    }
    
    
    .svgLine{
        margin: 0 auto;
        width: calc(100vw);
        position: relative;
        z-index: 3;
        transform: translateX(-9px);
        overflow: visible;
        max-width: 100%;
        
       .decoration1{
           transform: translate(-190px,-2016px);
           
       }
       .decoration2{
        transform: translate(-190px,-2016px);
       }

       

       
        .pathBall{
            z-index: 2;
            position: relative;
        }
        .pathLine{
            position: relative;
            z-index:1;
        }
        
        

        .object{
            width: 100%;
            height: 100%;
            margin-top: 800px;
            position: relative;

            

            

            
           
        }

       
        
       
       
        
        .worldShadow{
           
           transform:translate(48px,245px);
            
        }
        .worldMaskInner{
            transform:translate(48px,245px);
            width: 518px;
            height: 504px;
        }

        .travellerShadow{
            
            transform:translate(655px,858px);
        }
        .flagShadow{
            transform: translate(0px,1603px);
            filter: brightness(0);
        }
        .whiteBall{
            transform: translate(-540px,2660px) scale(1.2);
            visibility: hidden;
        }

        .whiteCircle{
            transform: translate(-1400px, 3200px);
            visibility: hidden;
        }
       
    }

    .contentBox{
        position: absolute;
        z-index: 3;
        height: max-content;
        overflow: hidden;
       
      
        
     }
     .contentBox1{
         display: flex;
         width: 100%;
        .textWrap{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 250px;
            padding-top: 50px;
            .textWrapInner{
                position: relative;
                h5{
                    font-family: kanit-semiBold;
                    font-size: 28px;
                    color: white;
                    margin-bottom: 10px;
                    text-align: left;    
                
                }
                h3{
                    font-family: kanit-semiBold;
                    font-size: 105px;
                    color: $teal;
                    margin-bottom: 10px;
                    line-height: 1;
                    text-align: left;   
                    
    
                    span{
                        font-size: 28px;
                        font-family: kanit-regular;
                        position: relative;
                        right: 15px;
                        text-align: left;   
                    }
                }
                p{
                font-family: kanit-regular;
                font-size: 28px;
                color:white;
                font-weight: 100;
                
                };
            }
          
        }

        .textWrap:before{
            content: "";
            position: relative;
            background-image: url(/images/Export/Mice-bg_element01.svg);
            width: 120px;
            height: 80px;
            background-repeat: no-repeat;
            left: 220px;
          
        }
  
     }
     .contentBox1:before{
         content: "";
         width: 50%;
     }

     .contentBox2{
        display: flex;
        width: 100%;
        .textWrap:before{
            content: "";
            background-image: url(/images/Export/Mice-bg_element02.svg);
            width:150px ;
            height: 50px;
            background-repeat: no-repeat;
            margin-top: 100px;
            margin-bottom: 100px;
         }
        .textWrap{
           width: 50%;
           display: flex;
           flex-direction: column;
           align-items: flex-end;
           padding-right: 170px;
           position: relative;
           z-index:2;
           .textWrapInner{
               position: relative;
               h5{
                   font-family: kanit-semiBold;
                   font-size: 32px;
                   color: white;
                   margin-bottom: 0px;
                   text-align: left;    
               
               }
               h4{
                   font-family: kanit-regular;
                   font-size: 28px;
                   color: white;
                   font-weight: 100;
                   margin-bottom: 0px;
               }
               h3{
                   font-family: kanit-semiBold;
                   font-size: 105px;
                   color: $teal;
                   margin-bottom: 10px;
                   line-height: 1;
                   text-align: left;   
                   position: relative;
                   
   
                   span{
                       font-size: 28px;
                       font-family: kanit-regular;
                       position: relative;
                       right: 15px;
                       text-align: left;   
                   }
               }
               h3::after{
                   content:"คน";
                   font-size:28px;
                   font-family: kanit-regular;
                   position: absolute;
                   bottom: -30px;
                   right: 5px;
               }
               
           }
         
  
         }
         .textWrap:after{
            content: "";
            background-image: url(/images/Export/Mice-bg_element03.svg);
            width:350px ;
            height: 350px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-top: 100px;
            margin-bottom: 100px;  
            position: relative;
            bottom: 300px;
            left: 120px;
            z-index: -1;
         }
       
 
    }
    .contentBox2:after{
        content: "";
        width: 50%;
    }
    .contentBox3{
        display: flex;
        width: 100%;
       .textWrap{
           width: 50%;
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           padding-left: 250px;
           padding-top: 480px;
           .textWrapInner{
               position: relative;
               h5{
                   font-family: kanit-semiBold;
                   font-size: 35px;
                   color: white;
                   
                       
               
               }
               h3{
                   font-family: kanit-semiBold;
                   font-size: 105px;
                   color: $teal;
                   margin: 0;
                   line-height: 1;
                   text-align: left;   
                   
   
                
               }
               h4{
               font-family: kanit-semiBold;
               font-size: 70px;
               color:$teal;
               font-weight: 100;
               line-height: 1;
               span{
                   font-family: kanit-regular;
                   font-size: 28px
               }
               
               };
           }
          
  
       }
       .textWrap:after{
           content:"";
           background-image: url(/images/Export/Mice-bg_element05.svg);
           background-repeat: no-repeat;
           width: 50px;
           height: 50px;
           position: relative;
           left:400px;
           top: 20px;    
        }

        .textWrap:before{
            content:"";
           background-image: url(/images/Export/Mice-bg_element04.svg);
           background-repeat: no-repeat;
           width: 50px;
           height: 200px;
           position: absolute;
           left: 20%;
           
        }
 
    }
    .contentBox3:before{
        content: "";
        width: 50%;
    }

    
    

    


    
}
.container:before{  
    transform:translate(-50% -50%);
    z-index: 1;
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,255,194);
    background: linear-gradient(0deg, 
    rgba(0,255,194,1) 0%, 
    rgba(4,246,195,1) 17%, 
    rgba(17,223,201,1) 35%, 
    rgba(37,186,209,1) 53%, 
    rgba(66,134,222,1) 70%, 
    rgba(102,69,237,1) 84%, 
    rgba(137,6,252,1) 100%);
}
.container:after{
    z-index: 2;
    content:"";
    position: absolute;
    height: 100%;
    
    width: 100%;
    background: rgb(47,30,84);
    background: linear-gradient(0deg, rgba(47,30,84,1) 0%, rgba(47,29,85,0.8) 34%, rgba(95,17,174,0.5) 65%, rgba(125,9,230,0.4) 81%, 
    rgba(137,6,252,0.1) 90%);
}



.section2{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 1500px;
    
    background-color:rgba(47,30,84,1);
   
    .section2Inner{
        position: relative;
        max-width: 100%;
        display: flex;
        flex-direction: column;
       
        .section2InnerDeco{
            position: absolute;
            width:150%;
            height: 1500px;
            top: 0;
            left: 50%;
            background-color: #00FFC2;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            transform:translateX(-50%)scale(0);
            z-index: 8;
            
        }

        .textWrap{
            display: flex;
            flex-direction: column;
            color: black;
            align-items: center;
            position: relative;
            z-index: 8;
            margin-top: 170px;
            opacity: 0;
            h5{
             font-family: kanit-light;
             font-size: 35px;
             color: #8924FC;

            }
            h1{
                font-family:kanit-thin ;
                font-size: 340px;
                color: #8924FC;
                line-height: 1;
                font-weight: 200;
            }
            h3{
                font-family:kanit-medium ;
                font-size: 85px;
                color: #594B76;
            }

          
        }
        .earthWrap{
            position: relative;
            z-index: 8;
            background-color: white;
            margin-top: 400px;
           
            width: 100%;

            .earthWrapInner{
                width: 50%;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                transform: translateY(-350px);
                .earth{
                   margin: 0 80px;
                    width: max-content;
                    
                    
                   
                    img{
                      width: 470px;
                      
                      object-fit: contain;
                      margin: 0 auto;
                    }
                    h4{
                        font-family: kanit-SemiBold;
                        color: #594B76;
                        font-size: 48px;
                        line-height: 1;
                        margin-top: 40px;
                        width: 100%;
                        
                    }
                    h3{
                        font-family: kanit-medium;
                        color: #0CEAB5;
                        font-size: 85px;
                        line-height: 1;
                        margin-top: 20px;
                        position: relative;
                        span{
                        font-family: kanit-medium;
                        font-size: 34px;
                        color: #594B76;
                        position: absolute;
                        bottom: 7px;
                        width: 100%;
                        font-weight: 200;
                        margin-left: 20px;
                        
                        
                        }
                    }
    
                   
                    h5{
                        font-family: kanit-medium;
                        font-size: 34px;
                        color: #594B76;
                        display: none;
                    }
                    
                }
                .thaiWrap{
                    h3{
                        color: $purple;
                    }
                }
            }

            
        }
    }
    

    
}

.section3{
    transform: translateY(-300px);
    position: relative;
    z-index:9;
    .videoWrap{
        h3{
            width: 81%;
            margin: 30px auto;
            margin-bottom: 0;
            color: $purple;
            font-family: kanit-medium;
            font-size: 35px;
            span{
              color: black;  
              font-family: kanit-light;
              margin-left: 10px;
              font-weight: 100;
            }
        }
        width: 100%;
        video{
            width: 100%;
            height: 100%;
        }
    }
    .videoWrap2{
        
        h3{
            
            width: 81%;
            margin: 30px auto;
            color: #FF00FF;
            font-family: kanit-medium;
            font-size: 35px;
            span{
              color: black;  
              font-family: kanit-light;
              margin-left: 10px;
              font-weight: 100;
            }
        }
        width: 100%;
        video{
            width: 100%;
            height: 100%;
        }
    }
}
.section4{

    transform: translateY(-200px);

    .dot{
        width: 15px;
        height:15px;
        border-radius: 100%;
        background-color: #594B76;
        text-align: center;
        margin: 0 auto;
        
    }
    h3{
        font-family: kanit-medium;
        font-size: 38px;
        color: #594B76;
        text-align: center;
        max-width: 650px;
        margin: 0 auto;
        margin-top: 30px;
    }
    h2{
        font-family: kanit-light;
        color:$purple;
        font-size: 80px;
        font-weight: 100;
        margin: 0 auto;
        text-align: center;
    }

    .miceWrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-items:center;
        width: 100%;
        margin: 0 auto;
        display: none;
        .miceItem{
            display: flex;
            
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 50px;
            img{
                width: 153px;
            }
            h4{
                font-size: 23px;
                font-family: kanit-medium;
                color:#594B76 ;
                margin-top:15px;
                font-weight: 500;
            }
            p{
                font-family: kanit-regular;
                font-size: 20px;
                color:#9797B5;
                margin-top: 5px;
                font-weight: 100;

            }
        }
    }
}

.section5{
    transform: translateY(-120px);
    width: 100%;
    .lineDescription{
        width: 70%;
        margin: 0 auto;
        display: flex;
        .lineItem{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            p{
                font-family: kanit-SemiBold;
                font-size: 28px;
                color: #594B76;
                
                
            }
            .line{
                width: 30%;
                height: 5px;
                margin-left: 20px;
                border-radius: 50px;
            }
        }
    }

    .videoWrap{
        width: 100%;
        height: 100%;
        video{
            width: 100%;
        }
    }
}



.section6{
    position: relative;
    transform: translateY(0px);
    background: rgb(0,255,194);
    background: linear-gradient(0deg, rgba(0,255,194,1) 0%, rgba(255,255,255,1) 84%);   
    z-index: 9;
    display: none;
    
    .mainText{
        font-family: kanit-medium;
        color:#2F1E54 ;
        font-size: 38px;
        text-align: center;
        max-width: 600px;
        margin: 0 auto; 
        span{
            white-space: nowrap;
            text-align: center;
            
        }
        
    }
    .lineDescription{
    
        width: 70%;
        margin: 0 auto;
        display: flex;
        margin-top: 50px;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        .lineItem{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            h3{
                font-size: 105px;
                font-family: kanit-SemiBold;
                color: #2F1E54;
                
            }
            p{
                font-family: kanit-SemiBold;
                font-size: 28px;
                color: #594B76;
                
                
            }
            .line{
                width: 30%;
                height: 5px;
            
                border-radius: 50px;
            }
        }
    }
    #canvas{
        width: 100%;
        height:1000px;
        fill:red;
        top:0;
        position: relative;
        z-index: 10;
    }

    .ballDecoration{
        z-index: 2;
        position: absolute;
        width: 710px;
        height: 710px;
        bottom: 151px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 100%;
     
        background: rgb(0,255,194);
        background: linear-gradient(0deg, rgba(0,255,194,1) 0%, rgba(6,243,196,1) 15%, rgba(24,211,204,1) 37%, rgba(52,159,216,1) 59%, rgba(92,87,232,1) 79%, rgba(137,6,252,1) 100%);
    }
}
.section6:after{
    content:"";
    position: absolute;
    height: 30%;
    background-color: #2f1e54;
    width: 100%;
    bottom:0;
    left: 0;
}
.section6:before{
    content: "";
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    left: 50%;
    bottom: 0;
    width: 7px;
    height: 30%;
    background: rgb(0,255,194);
    background: linear-gradient(0deg, rgba(0,255,194,1) 0%, rgba(6,243,196,1) 15%, rgba(24,211,204,1) 37%, rgba(52,159,216,1) 59%, rgba(92,87,232,1) 79%, rgba(137,6,252,1) 100%);
}


.section7{
    display: none;
    position: relative;
    z-index: 11;
 
    background: rgb(11,7,20);
    background: linear-gradient(0deg, rgba(11,7,20,1) 0%, rgba(37,23,66,1) 48%, rgba(47,30,84,1) 100%);

    .mainText{
        transform: translateY(-100px);
        width: 70%;
        display: flex;
        color: white;
        margin: 0 auto;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-image:linear-gradient(0deg, rgba(0,255,194,1) 0%, rgba(6,243,196,1) 0%, rgba(24,211,204,1) 0%, rgba(52,159,216,1) 100%);
        .textItem{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 50px;
            
            h3{
                font-family: kanit-regular;
                font-size: 85px;
                font-weight: 100;
                line-height: 1;
            }
            h4{
                font-family: kanit-regular;
                font-size: 50px;
                line-height: 1;
                margin-top: 10px;
            }
        }
        .textItem2{
            align-items: flex-start;
            margin-left: 50px;
            margin-right: 0;
        }
        
    }

    .lineDecoration{
        position: absolute;
        width: 7px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: rgb(0,255,194);
        background: linear-gradient(177deg, rgba(0,255,194,1) 0%, rgba(4,246,195,1) 9%, rgba(17,223,201,1) 18%, rgba(37,186,209,1) 35%, rgba(66,134,222,1) 58%, rgba(102,69,237,1) 82%, rgba(137,6,252,1) 100%);
    }
    .gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
        grid-gap: 40px 0;
        overflow: hidden;

        .gridItemImage{
            img{
                object-fit: cover;
                width: 100%;
            }
        }
        .gridItemText{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 0 auto;
            
            img{
      
                width: 85px;
                height: 85px;
            }
            h2{
                font-family: kanit-thin;
                font-size: 72px;
                color: white;
                font-weight: 100;
                margin-top: 30px;
                line-height: 1;
            }
            h4{
                font-family: kanit-regular;
                font-size: 24px;
                font-weight: 600;
                color: white;
                
                margin-top: 20px;
                margin-bottom: 20px;
            }
            h3{
                font-family: kanit-SemiBold;
                font-size: 24px;
                color: #0CEAB5;
                font-weight: 100;
                line-height: 1;

            }
        }
    
    }


   
}

.section8{
    
    margin-top: 100px;
    padding-bottom: 100px;
    .section8Inner{
        width: 80%;
        margin: 0 auto;
        h4{
           font-family: kanit-regular;
           font-size: 36px;
           color: #594B76; 
        }
        h2{
            font-family: kanit-SemiBold;
            font-size: 78px;
            color: #FF24FF;
        }
        h3{
            font-family: kanit-light;
            font-size: 70px;
            color:#594B76;  ;
        }

        .lineDescription{
    
            width: 100%;
            margin: 0 auto;
            display: flex;
            margin-top: 50px;
            justify-content: space-between;
        
            .lineItemWrap{
                width: 45%;
                display: flex;
                flex-direction: column;
                
                .lineItem{
                    
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    h5{
                        font-size: 24px;
                        font-family: kanit-SemiBold;
                        color: #594B76;
                        font-weight: 100;
                        
                    }
                
                    .line{
                        width: 40%;
                        height: 5px;
                        margin-left: 20px;
                        border-radius: 50px;
                    }
                }
                p{
                    font-family: kanit-regular;
                    font-size: 22px;
                    margin-top: 10px;
                    color: #594B76;
                    font-weight: 100;
                    
                   
                }
            }
        }
    }
    .videoWrap{
        width: 100%;
        video{
            width: 100%;
            height: 100%;
        }
    }
}
.section9{
   
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(0,255,194);
    background: linear-gradient(0deg, rgba(0,255,194,1) 0%, rgba(6,243,196,1) 15%, rgba(24,211,204,1) 37%, rgba(52,159,216,1) 59%, rgba(92,87,232,1) 79%, rgba(137,6,252,1) 100%);
    display: none;
    .worldIcon{
        width: 59px;
    }
    h2{
        font-family: kanit-regular;
        font-size: 54px;
        color: #00FFC2;
        margin-top: 30px;
        line-height: 1.2;
        font-weight: 400;
    }
    h3{
        font-family: kanit-extra-light;
        font-size: 50px;
        color: white;
        margin-top: 25px;
        font-weight: 100;
        line-height: 1.5;
    }
    .footerLogo{
       width: 413px;
       margin-top: 35px;
       
    }
    h4{
        font-family: kanit-medium;
        font-size: 34px;
        color:#00FFC2 ;
        margin-top: 25px;
        position: relative;
    }
   

    .shareWrap{
        margin-top: 35px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        img{
            width: 77px;
        }        
    }
}





.justifyFlexStart{
    justify-content: flex-start!important;
}
.alignFlexStart{
    align-items: flex-start!important;
}
.alignFlexEnd{
    align-items: flex-end!important;
    text-align: right;
}

@media(min-width:1201px){
    .pathLine1200,.pathBall1200,.pathLine768,.pathBall768{
        opacity: 0;

    }
  
    .pathBall,.pathLine{
        opacity: 100;
    }
}

@media(max-width:1199.99px){

    .svgLine{
        width: 987px!important;
        .pathLine,.pathBall,.pathLine768,.pathBall768{
            opacity: 0;
        }
        
        .pathBall1200,.pathLine1200{
            opacity: 100;
        }

        .decoration1{
            transform:translate(-190px, -1800px)!important ;
        }
        .decoration2{
            transform:translate(-190px, -1800px)!important ;
        }
    }
    .contentBox1{
        .textWrap{
            padding-left: 180px!important;
        }
    }
    .contentBox2{
        .textWrap{
            padding-right: 100px!important;
        }
        .textWrap:before{
            margin-bottom: 30px!important;
        }
    }

    .contentBox3{
        .textWrap{
            padding-left: 100px!important;
        }
    }
    


    
}

@media(max-width:986px){
    .svgLine{
        width: 768px!important;
        .decoration1{
            transform:translate(-190px, -1600px)!important ;
        }
        .decoration2{
            transform:translate(-190px, -1600px)!important ;
        }
    }
    .pathLine,.pathBall,.pathLine1200,.pathBall1200{
        opacity: 0!important;
    }
    
    .pathBall768,.pathLine768{
        opacity: 100!important;
    }

    .contentBox{
        .textWrap{
            .textWrapInner{
                h5{
                    font-size: 20px!important;
                }
                h3{
                    font-size: 80px!important;
                    span{
                        font-size: 28px!important;
                    }
                }
                
                p{
                    font-size: 20px!important;
                }
                h4{
                    font-size: 28px!important;
                }

            }
        }
    }

    .contentBox1{
        .textWrap{
            padding-left: 100px!important;
        }
        .textWrap:before{
            left: 150px!important;
        }
    }
    .contentBox2{
        .textWrap{
            padding-right: 80px!important;
        }
        .textWrap:before{
            margin-bottom: 30px!important;
        }
    }

    .contentBox3{
        .textWrap{
            padding-left: 100px!important;
        }
    }
}

@media(max-width:767px){
    .svgLine{
        
       width: 400px!important;
       height: 2000px;
       
        .pathLine1200,.pathBall1200,.pathLine768,.pathBall768,.pathBall,.pathLine{
            opacity: 0!important;
            

        }
        .pathBallMobile{
            opacity: 100!important;
        }
        .pathLineMobile{
            opacity: 100!important;
        }

        .worldShadow{
            transform: translate(215px,-815px)scale(1.3)!important;
        }
        .travellerShadow{
            transform: translate(296px,563px)scale(1.4)!important; 
        }
        .flagShadow{
        transform: translate(188px,2094px) scale(1.1)!important;
        }
        .decoration1,.decoration2{
            transform: translate(-190px,-800px)!important;
        }
    
    


    }
    .container{
        .contentBox{
           
            .textWrap{
                width: 100%;
                .textWrapInner{
                    h5{
                        font-size: 25px!important;
                        margin: 0!important;
                    }
                    h3{
                        font-size: 70px!important;
                        margin: 0!important;
                        span{
                            font-size: 25px!important;
                            margin: 0!important;
                        }
                    }
                    
                    p{
                        font-size: 25px!important;
                        margin: 0!important;
                    }
                    h4{
                        font-size: 25px!important;
                        margin: 0!important;
                    }
    
                }
            }
        }


        .contentBox1{
            .textWrap{
                padding-top: 280px;
                padding-left: 0!important;
                align-items: center;
                position: relative!important;
                width: 100%;
                display: block;
               
                .textWrapInner{
                    width: 95%;
                    margin: 0 auto;
                    height: 100%;
                    h3{
                        margin-left: 50px!important;
                        span{
                            margin-left: 10px!important;
                        }
                    }
                    p{
                        margin-left: 70px!important;
                        position: relative;
                        strong{
                            position: relative;
                            display: block;
                            top: 0px;
                            left: 117px;
                            
                            
                           

                        }
                    }
                    
                }
            }
            .textWrap:before{
                position: absolute;
               top: 250px;
               left: initial!important;
               right: 5%!important;
            }
        }

        .contentBox2{
           
            .textWrap{
                padding-top: 350px!important;
                padding-left: 0!important;
                padding-right: 0!important;
                align-items: center;
                position: relative!important;
                width: 100%;
                display: block;
               
               
                .textWrapInner{
                    width: 85%;
                    overflow: visible;
                    margin: 0 auto;
                    height: 100%;
                    display: block;
                    margin-bottom: 100px;
                    h3{
                        margin-left: 0px!important;
                        span{
                            margin-left: 0px!important;
                        }
                    }
                    h3:after{
                        display: block;
                        position: relative!important;
                        bottom: 0px!important;
                        right:0!important ;
                        left: 235px;
                    }
                    
                }
            }
            .textWrap:before{
                position: absolute;
               top: 230px;
               left: 8.5%!important;
               height: 30px!important;
               width: 100px!important;
               background-size: contain;
               
              
               
            }
            .textWrap:after{
               position: absolute;
               top: 300px;
               width: 200px;
               height: 200px;
               left: 200px;
              
               
            }
        }
        .contentBox3{
           
            .textWrap{
                padding-top: 170px!important;
                padding-left: 0!important;
                padding-right: 0!important;
                align-items: center;
                position: relative!important;
                width: 100%;
                display: block;
               
               
                .textWrapInner{
                    width: 85%;
                    overflow: visible;
                    margin: 0 auto;
                    height: 100%;
                    display: block;
                   
                    h3{
                        margin-left: 0px!important;
                        span{
                            margin-left: 0px!important;
                        }
                    }
                    h3:after{
                        display: block;
                        position: relative!important;
                        bottom: 0px!important;
                        right:0!important ;
                        left: 235px;
                    }
                    
                }
            }
            .textWrap:before{
                content: none!important;
               
            }
            .textWrap:after{
                content: none!important;
               
            }
        }
        


        .contentBox1:before{
            content: none!important;
        }
        .contentBox2:after{
            content: none!important;
        }
        .contentBox3:before{
            content: none!important;
        }
        }

}

