@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;500;600&display=swap");
@font-face {
  font-family: kanit-light;
  src: url(../Kanit/Kanit-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: kanit-extra-light;
  src: url(../Kanit/Kanit-ExtraLight.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(../Kanit/Kanit-Thin.ttf);
  font-family: kanit-thin;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(../Kanit/Kanit-Regular.ttf);
  font-family: kanit-regular;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(../Kanit/Kanit-Medium.ttf);
  font-family: kanit-medium;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(../Kanit/Kanit-SemiBold.ttf);
  font-family: kanit-SemiBold;
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
}

.container {
  width: 100vw;
  max-width: 100%;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .introBox {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  margin-top: 150px;
}

.container .introBox p {
  font-size: 42px;
  font-family: kanit-extra-light;
  color: white;
  text-align: center;
  letter-spacing: 10px;
  margin: 0;
  margin-bottom: 30px;
}

.container .introBox img {
  width: 80vw;
  max-width: 830px;
  margin-bottom: 30px;
}

.container .introBox span {
  display: block;
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: kanit-regular;
  margin-bottom: 30px;
}

.container .introBox div {
  padding: 10px 35px;
  border-radius: 10px;
  color: #00FFC2;
  background-color: #8924FC;
  font-family: kanit-regular;
  font-size: 28px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  line-height: 1;
  margin-bottom: 50px;
}

.container .svgLine {
  margin: 0 auto;
  width: calc(100vw);
  position: relative;
  z-index: 3;
  -webkit-transform: translateX(-9px);
          transform: translateX(-9px);
  overflow: visible;
  max-width: 100%;
}

.container .svgLine .decoration1 {
  -webkit-transform: translate(-190px, -2016px);
          transform: translate(-190px, -2016px);
}

.container .svgLine .decoration2 {
  -webkit-transform: translate(-190px, -2016px);
          transform: translate(-190px, -2016px);
}

.container .svgLine .pathBall {
  z-index: 2;
  position: relative;
}

.container .svgLine .pathLine {
  position: relative;
  z-index: 1;
}

.container .svgLine .object {
  width: 100%;
  height: 100%;
  margin-top: 800px;
  position: relative;
}

.container .svgLine .worldShadow {
  -webkit-transform: translate(48px, 245px);
          transform: translate(48px, 245px);
}

.container .svgLine .worldMaskInner {
  -webkit-transform: translate(48px, 245px);
          transform: translate(48px, 245px);
  width: 518px;
  height: 504px;
}

.container .svgLine .travellerShadow {
  -webkit-transform: translate(655px, 858px);
          transform: translate(655px, 858px);
}

.container .svgLine .flagShadow {
  -webkit-transform: translate(0px, 1603px);
          transform: translate(0px, 1603px);
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.container .svgLine .whiteBall {
  -webkit-transform: translate(-540px, 2660px) scale(1.2);
          transform: translate(-540px, 2660px) scale(1.2);
  visibility: hidden;
}

.container .svgLine .whiteCircle {
  -webkit-transform: translate(-1400px, 3200px);
          transform: translate(-1400px, 3200px);
  visibility: hidden;
}

.container .contentBox {
  position: absolute;
  z-index: 3;
}

.container .contentBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .contentBox1 .textWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 250px;
  padding-top: 50px;
}

.container .contentBox1 .textWrap .textWrapInner {
  position: relative;
}

.container .contentBox1 .textWrap .textWrapInner h5 {
  font-family: kanit-semiBold;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
  text-align: left;
}

.container .contentBox1 .textWrap .textWrapInner h3 {
  font-family: kanit-semiBold;
  font-size: 105px;
  color: #00FFC2;
  margin-bottom: 10px;
  line-height: 1;
  text-align: left;
}

.container .contentBox1 .textWrap .textWrapInner h3 span {
  font-size: 28px;
  font-family: kanit-regular;
  position: relative;
  right: 15px;
  text-align: left;
}

.container .contentBox1 .textWrap .textWrapInner p {
  font-family: kanit-regular;
  font-size: 28px;
  color: white;
  font-weight: 100;
}

.container .contentBox1 .textWrap .textWrapInner:after {
  content: "";
  background-image: url(../images/Export/Mice-bg_element01.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  top: -40%;
  left: 50%;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

.container .contentBox1:before {
  content: "";
  width: 50%;
}

.container .contentBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .contentBox2 .textWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 200px;
  padding-right: 170px;
}

.container .contentBox2 .textWrap .textWrapInner {
  position: relative;
}

.container .contentBox2 .textWrap .textWrapInner h5 {
  font-family: kanit-semiBold;
  font-size: 32px;
  color: white;
  margin-bottom: 0px;
  text-align: left;
}

.container .contentBox2 .textWrap .textWrapInner h4 {
  font-family: kanit-regular;
  font-size: 28px;
  color: white;
  font-weight: 100;
  margin-bottom: 0px;
}

.container .contentBox2 .textWrap .textWrapInner h3 {
  font-family: kanit-semiBold;
  font-size: 105px;
  color: #00FFC2;
  margin-bottom: 10px;
  line-height: 1;
  text-align: left;
  position: relative;
}

.container .contentBox2 .textWrap .textWrapInner h3 span {
  font-size: 28px;
  font-family: kanit-regular;
  position: relative;
  right: 15px;
  text-align: left;
}

.container .contentBox2 .textWrap .textWrapInner h3::after {
  content: "คน";
  font-size: 28px;
  font-family: kanit-regular;
  position: absolute;
  bottom: -30px;
  right: 5px;
}

.container .contentBox2 .textWrap .textWrapInner:after {
  content: "";
  background-image: url(../images/Export/Mice-bg_element02.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  top: -50%;
  left: 100%;
  -webkit-transform: translateX(-37%);
          transform: translateX(-37%);
}

.container .contentBox2 .textWrap .textWrapInner:before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../images/Export/Mice-bg_element03.svg);
  width: 100%;
  height: 200%;
  position: absolute;
  right: -200px;
  top: 25px;
  z-index: -1;
}

.container .contentBox2:after {
  content: "";
  width: 50%;
}

.container .contentBox3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .contentBox3 .textWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 250px;
  padding-top: 450px;
}

.container .contentBox3 .textWrap .textWrapInner {
  position: relative;
}

.container .contentBox3 .textWrap .textWrapInner h5 {
  font-family: kanit-semiBold;
  font-size: 35px;
  color: white;
}

.container .contentBox3 .textWrap .textWrapInner h3 {
  font-family: kanit-semiBold;
  font-size: 105px;
  color: #00FFC2;
  margin: 0;
  line-height: 1;
  text-align: left;
}

.container .contentBox3 .textWrap .textWrapInner h4 {
  font-family: kanit-semiBold;
  font-size: 70px;
  color: #00FFC2;
  font-weight: 100;
  line-height: 1;
}

.container .contentBox3 .textWrap .textWrapInner h4 span {
  font-family: kanit-regular;
  font-size: 28px;
}

.container .contentBox3 .textWrap .textWrapInner:after {
  content: "";
  background-image: url(../images/Export/Mice-bg_element05.svg);
  position: absolute;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  right: 0;
  top: 115%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.container .contentBox3 .textWrap .textWrapInner:before {
  content: "";
  background-image: url(../images/Export/Mice-bg_element04.svg);
  position: absolute;
  width: 30px;
  height: 100%;
  background-repeat: no-repeat;
  right: 300%;
}

.container .contentBox3:before {
  content: "";
  width: 50%;
}

.container:before {
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00ffc2;
  background: -webkit-gradient(linear, left bottom, left top, from(#00ffc2), color-stop(17%, #04f6c3), color-stop(35%, #11dfc9), color-stop(53%, #25bad1), color-stop(70%, #4286de), color-stop(84%, #6645ed), to(#8906fc));
  background: linear-gradient(0deg, #00ffc2 0%, #04f6c3 17%, #11dfc9 35%, #25bad1 53%, #4286de 70%, #6645ed 84%, #8906fc 100%);
}

.container:after {
  z-index: 2;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #2f1e54;
  background: -webkit-gradient(linear, left bottom, left top, from(#2f1e54), color-stop(34%, rgba(47, 29, 85, 0.8)), color-stop(65%, rgba(95, 17, 174, 0.5)), color-stop(81%, rgba(125, 9, 230, 0.4)), color-stop(90%, rgba(137, 6, 252, 0.1)));
  background: linear-gradient(0deg, #2f1e54 0%, rgba(47, 29, 85, 0.8) 34%, rgba(95, 17, 174, 0.5) 65%, rgba(125, 9, 230, 0.4) 81%, rgba(137, 6, 252, 0.1) 90%);
}

.section2 {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 1500px;
  background-color: #2f1e54;
}

.section2 .section2Inner {
  position: relative;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section2 .section2Inner .section2InnerDeco {
  position: absolute;
  width: 150%;
  height: 1500px;
  top: 0;
  left: 50%;
  background-color: #00FFC2;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  z-index: 8;
}

.section2 .section2Inner .textWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 8;
  margin-top: 170px;
  opacity: 0;
}

.section2 .section2Inner .textWrap h5 {
  font-family: kanit-light;
  font-size: 35px;
  color: #8924FC;
}

.section2 .section2Inner .textWrap h1 {
  font-family: kanit-thin;
  font-size: 340px;
  color: #8924FC;
  line-height: 1;
  font-weight: 200;
}

.section2 .section2Inner .textWrap h3 {
  font-family: kanit-medium;
  font-size: 85px;
  color: #594B76;
}

.section2 .section2Inner .earthWrap {
  position: relative;
  z-index: 8;
  background-color: white;
  margin-top: 400px;
  width: 100%;
}

.section2 .section2Inner .earthWrap .earthWrapInner {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-transform: translateY(-350px);
          transform: translateY(-350px);
}

.section2 .section2Inner .earthWrap .earthWrapInner .earth {
  margin: 0 80px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.section2 .section2Inner .earthWrap .earthWrapInner .earth img {
  width: 470px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.section2 .section2Inner .earthWrap .earthWrapInner .earth h4 {
  font-family: kanit-SemiBold;
  color: #594B76;
  font-size: 48px;
  line-height: 1;
  margin-top: 40px;
  width: 100%;
}

.section2 .section2Inner .earthWrap .earthWrapInner .earth h3 {
  font-family: kanit-medium;
  color: #0CEAB5;
  font-size: 85px;
  line-height: 1;
  margin-top: 20px;
  position: relative;
}

.section2 .section2Inner .earthWrap .earthWrapInner .earth h3 span {
  font-family: kanit-medium;
  font-size: 34px;
  color: #594B76;
  position: absolute;
  bottom: 7px;
  width: 100%;
  font-weight: 200;
  margin-left: 20px;
}

.section2 .section2Inner .earthWrap .earthWrapInner .earth h5 {
  font-family: kanit-medium;
  font-size: 34px;
  color: #594B76;
  display: none;
}

.section2 .section2Inner .earthWrap .earthWrapInner .thaiWrap h3 {
  color: #8924FC;
}

.section3 {
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  position: relative;
  z-index: 9;
}

.section3 .videoWrap {
  width: 100%;
}

.section3 .videoWrap h3 {
  width: 81%;
  margin: 30px auto;
  margin-bottom: 0;
  color: #8924FC;
  font-family: kanit-medium;
  font-size: 35px;
}

.section3 .videoWrap h3 span {
  color: black;
  font-family: kanit-light;
  margin-left: 10px;
  font-weight: 100;
}

.section3 .videoWrap video {
  width: 100%;
  height: 100%;
}

.section3 .videoWrap2 {
  width: 100%;
}

.section3 .videoWrap2 h3 {
  width: 81%;
  margin: 30px auto;
  color: #FF00FF;
  font-family: kanit-medium;
  font-size: 35px;
}

.section3 .videoWrap2 h3 span {
  color: black;
  font-family: kanit-light;
  margin-left: 10px;
  font-weight: 100;
}

.section3 .videoWrap2 video {
  width: 100%;
  height: 100%;
}

.section4 {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.section4 .dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #594B76;
  text-align: center;
  margin: 0 auto;
}

.section4 h3 {
  font-family: kanit-medium;
  font-size: 38px;
  color: #594B76;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 30px;
}

.section4 h2 {
  font-family: kanit-light;
  color: #8924FC;
  font-size: 80px;
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}

.section4 .miceWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 65%;
  margin: 0 auto;
}

.section4 .miceWrap .miceItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 50px;
}

.section4 .miceWrap .miceItem img {
  width: 153px;
}

.section4 .miceWrap .miceItem h4 {
  font-size: 23px;
  font-family: kanit-medium;
  color: #594B76;
  margin-top: 15px;
  font-weight: 500;
}

.section4 .miceWrap .miceItem p {
  font-family: kanit-regular;
  font-size: 20px;
  color: #9797B5;
  margin-top: 5px;
  font-weight: 100;
}

.section5 {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
  width: 100%;
}

.section5 .lineDescription {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section5 .lineDescription .lineItem {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section5 .lineDescription .lineItem p {
  font-family: kanit-SemiBold;
  font-size: 28px;
  color: #594B76;
}

.section5 .lineDescription .lineItem .line {
  width: 30%;
  height: 5px;
  margin-left: 20px;
  border-radius: 50px;
}

.section5 .videoWrap {
  width: 100%;
  height: 100%;
}

.section5 .videoWrap video {
  width: 100%;
}

.section6 {
  position: relative;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  background: #00ffc2;
  background: -webkit-gradient(linear, left bottom, left top, from(#00ffc2), color-stop(84%, white));
  background: linear-gradient(0deg, #00ffc2 0%, white 84%);
  z-index: 9;
}

.section6 .mainText {
  font-family: kanit-medium;
  color: #2F1E54;
  font-size: 38px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.section6 .mainText span {
  white-space: nowrap;
  text-align: center;
}

.section6 .lineDescription {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section6 .lineDescription .lineItem {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section6 .lineDescription .lineItem h3 {
  font-size: 105px;
  font-family: kanit-SemiBold;
  color: #2F1E54;
}

.section6 .lineDescription .lineItem p {
  font-family: kanit-SemiBold;
  font-size: 28px;
  color: #594B76;
}

.section6 .lineDescription .lineItem .line {
  width: 30%;
  height: 5px;
  border-radius: 50px;
}

.section6 #canvas {
  width: 100%;
  height: 1000px;
  fill: red;
  top: 0;
  position: relative;
  z-index: 10;
}

.section6 .ballDecoration {
  z-index: 2;
  position: absolute;
  width: 710px;
  height: 710px;
  bottom: 151px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100%;
  background: #00ffc2;
  background: -webkit-gradient(linear, left bottom, left top, from(#00ffc2), color-stop(15%, #06f3c4), color-stop(37%, #18d3cc), color-stop(59%, #349fd8), color-stop(79%, #5c57e8), to(#8906fc));
  background: linear-gradient(0deg, #00ffc2 0%, #06f3c4 15%, #18d3cc 37%, #349fd8 59%, #5c57e8 79%, #8906fc 100%);
}

.section6:after {
  content: "";
  position: absolute;
  height: 30%;
  background-color: #2f1e54;
  width: 100%;
  bottom: 0;
  left: 0;
}

.section6:before {
  content: "";
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  left: 50%;
  bottom: 0;
  width: 7px;
  height: 30%;
  background: #00ffc2;
  background: -webkit-gradient(linear, left bottom, left top, from(#00ffc2), color-stop(15%, #06f3c4), color-stop(37%, #18d3cc), color-stop(59%, #349fd8), color-stop(79%, #5c57e8), to(#8906fc));
  background: linear-gradient(0deg, #00ffc2 0%, #06f3c4 15%, #18d3cc 37%, #349fd8 59%, #5c57e8 79%, #8906fc 100%);
}

.section7 {
  position: relative;
  z-index: 11;
  background: #0b0714;
  background: -webkit-gradient(linear, left bottom, left top, from(#0b0714), color-stop(48%, #251742), to(#2f1e54));
  background: linear-gradient(0deg, #0b0714 0%, #251742 48%, #2f1e54 100%);
}

.section7 .mainText {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin: 0 auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00ffc2), color-stop(0%, #06f3c4), color-stop(0%, #18d3cc), to(#349fd8));
  background-image: linear-gradient(0deg, #00ffc2 0%, #06f3c4 0%, #18d3cc 0%, #349fd8 100%);
}

.section7 .mainText .textItem {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 50px;
}

.section7 .mainText .textItem h3 {
  font-family: kanit-regular;
  font-size: 85px;
  font-weight: 100;
  line-height: 1;
}

.section7 .mainText .textItem h4 {
  font-family: kanit-regular;
  font-size: 50px;
  line-height: 1;
  margin-top: 10px;
}

.section7 .mainText .textItem2 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 50px;
  margin-right: 0;
}

.section7 .lineDecoration {
  position: absolute;
  width: 7px;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #00ffc2;
  background: linear-gradient(177deg, #00ffc2 0%, #04f6c3 9%, #11dfc9 18%, #25bad1 35%, #4286de 58%, #6645ed 82%, #8906fc 100%);
}

.section7 .gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px 0;
}

.section7 .gridContainer .gridItemImage img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.section7 .gridContainer .gridItemText {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.section7 .gridContainer .gridItemText img {
  width: 85px;
  height: 85px;
}

.section7 .gridContainer .gridItemText h2 {
  font-family: kanit-thin;
  font-size: 72px;
  color: white;
  font-weight: 100;
  margin-top: 30px;
  line-height: 1;
}

.section7 .gridContainer .gridItemText h4 {
  font-family: kanit-regular;
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section7 .gridContainer .gridItemText h3 {
  font-family: kanit-SemiBold;
  font-size: 24px;
  color: #0CEAB5;
  font-weight: 100;
  line-height: 1;
}

.section8 {
  margin-top: 100px;
  padding-bottom: 100px;
}

.section8 .section8Inner {
  width: 80%;
  margin: 0 auto;
}

.section8 .section8Inner h4 {
  font-family: kanit-regular;
  font-size: 36px;
  color: #594B76;
}

.section8 .section8Inner h2 {
  font-family: kanit-SemiBold;
  font-size: 78px;
  color: #FF24FF;
}

.section8 .section8Inner h3 {
  font-family: kanit-light;
  font-size: 70px;
  color: #594B76;
}

.section8 .section8Inner .lineDescription {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section8 .section8Inner .lineDescription .lineItemWrap {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section8 .section8Inner .lineDescription .lineItemWrap .lineItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section8 .section8Inner .lineDescription .lineItemWrap .lineItem h5 {
  font-size: 24px;
  font-family: kanit-SemiBold;
  color: #594B76;
  font-weight: 100;
}

.section8 .section8Inner .lineDescription .lineItemWrap .lineItem .line {
  width: 40%;
  height: 5px;
  margin-left: 20px;
  border-radius: 50px;
}

.section8 .section8Inner .lineDescription .lineItemWrap p {
  font-family: kanit-regular;
  font-size: 22px;
  margin-top: 10px;
  color: #594B76;
  font-weight: 100;
}

.section8 .videoWrap {
  width: 100%;
}

.section8 .videoWrap video {
  width: 100%;
  height: 100%;
}

.section9 {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #00ffc2;
  background: -webkit-gradient(linear, left bottom, left top, from(#00ffc2), color-stop(15%, #06f3c4), color-stop(37%, #18d3cc), color-stop(59%, #349fd8), color-stop(79%, #5c57e8), to(#8906fc));
  background: linear-gradient(0deg, #00ffc2 0%, #06f3c4 15%, #18d3cc 37%, #349fd8 59%, #5c57e8 79%, #8906fc 100%);
}

.section9 .worldIcon {
  width: 59px;
}

.section9 h2 {
  font-family: kanit-regular;
  font-size: 54px;
  color: #00FFC2;
  margin-top: 30px;
  line-height: 1.2;
  font-weight: 400;
}

.section9 h3 {
  font-family: kanit-extra-light;
  font-size: 50px;
  color: white;
  margin-top: 25px;
  font-weight: 100;
  line-height: 1.5;
}

.section9 .footerLogo {
  width: 413px;
  margin-top: 35px;
}

.section9 h4 {
  font-family: kanit-medium;
  font-size: 34px;
  color: #00FFC2;
  margin-top: 25px;
  position: relative;
}

.section9 .shareWrap {
  margin-top: 35px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section9 .shareWrap img {
  width: 77px;
}

.justifyFlexStart {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.alignFlexStart {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.alignFlexEnd {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
  text-align: right;
}

@media (min-width: 1200px) {
  .pathLine1200, .pathBall1200 {
    opacity: 0;
  }
  .pathBall, .pathLine {
    opacity: 100;
  }
}

@media (max-width: 1199.99px) {
  .svgLine {
    width: 987px !important;
  }
  .svgLine .pathLine, .svgLine .pathBall {
    opacity: 0;
  }
  .svgLine .pathBall1200, .svgLine .pathLine1200 {
    opacity: 100;
  }
  .contentBox1 .textWrap {
    padding-left: 150px !important;
  }
  .contentBox2 .textWrap {
    padding-right: 150px !important;
  }
  .contentBox3 .textWrap {
    padding-left: 150px !important;
  }
}
/*# sourceMappingURL=style.css.map */